@import "../../../styles.scss";


:host{
max-height: 400px;
@include flex(row, center, space-between);
padding: 30px 130px;
background-image: url('./../../../assets/anastasiia-krutota-MqYWOOkRzLE-unsplash.png');

}
.gallery {
  @include flex(row, center, space-between);
  width: 80%;
}

.gallery-card {
  padding: 0px 10px 10px 10px;
  width: 250px;
  height: 250px;
  border-radius: 7%;
  @include font(#FFFFFF, 700, 20px, 24px);
  @include flex(column, center, center);
  row-gap: 10px;
  // background-color: rgba(32,50,62, .2);
  // background: linear-gradient(#b3bdd6, #2e4b69);
    // color: #fff;
    opacity: 0.9;
}

img {
  width: 150px;
  height: 150px;
}
.pag-btn {
  @include flex(row, center, center);;
  position: relative;
  border: 2px solid rgba(179,189,214,255);
  width: 52px;
  height: 52px;
  border-radius: 100px;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #2e4b69;
  cursor: pointer;
}
